# python day1

In [7]:
a = 5
b = 2.6  
c = 'Cha'

In [8]:
x,y,z = 1,2,3
print(x)
print(y)
print(z)

1
2
3

In [2]:
a,b,c = 1,2,3
print(a)
print(b)
print(c)

1
2
3

In [1]:
a = 4
b = 4
a

4

x=10
x%=7
print(x)

In [37]:
## Arthmetic operators
x=2
y=8
s= x+y
print(s)
m=x-y
print(m)
mu=x*y
print(mu)
div=x/y
print(div)
p=x**y
print(p)
fd=x//y
print(fd)
mod=x%y
print(mod)

10
-6
16
0.25
256
0
2

In [1]:
## comparision operators

x=2
y=4
print(x<y) 

## comparision operator consists of ==,<,>,<=,>=,!=

True

In [3]:
##logical operators (these logical operators are used for mulitiple conditions in single statement)

print(2<3 and 3<4 and 4<5)  ## the o/p will be true if only all are true

print(2<3 or 8<4 or 4>5)  ## the o/p will be true if any one condition is true

print (not 5>4 and not 2<3)  ## The o/p will give opposite o/p of the condition

True
True
False

In [ ]:
## identity operators
## is,is not these are used for indentiy purpose to find the object

In [19]:
## membership operators
a=(1,2,3,4,5,6)
print(5 in a) 
print(7 in a)
print(7 not in a)

True
False
True

In [4]:
##Identity operators
## == checks only value but IS checks the data type and the value (ie.,IS compares the objects)
a,b,c,d,e = 5,'2',2,5.0,5
print(a is c)
print(a is d)
print(a == d)
print(b is c)
print(b is not c)
print(a is e)

False
False
True
False
True
True

##Bitwise operators(&,^,|,~,<<,>>)
3 ---- 0000 0011
3>>1 ---- 0000 0001
3<<1 ---- 0000 0110

In [44]:
~-5

4