In [1]:
a=5
type(a)

int

## String is a collection of one or more characters can put in a single,double or triple Quoutes
str1 ="apple"
l=(1,2,3,a,b,c) #list
t1=(1,2,3) # tuples
set=(1,3,4) #Set
d=(1:'a',2:'b') #dictionary

##strings

In [3]:
str="hellow, welcome to python course"  ## indexing is the position alingned to the charecter
print(str[0])
print(str[6])

h
,

In [3]:
str.count('o') #count is no of occurences of a charecter

5

In [5]:
print(str.split( )) # used for spliting the charecter seperately ie., list of words
print (str.split(',')) # also we can use the split as mentioned charecter for splitting into certian split

['hellow,', 'welcome', 'to', 'python', 'course']
['hellow', ' welcome to python course']

In [5]:
str.find('t') ## to know the index of the char

16

In [6]:
 str.replace('course','class') ## to replace the old char to new (old,new)

'hellow, welcome to python class'

In [7]:
s1='Charan' #concatenation
s2='kumar'
s1+s2

'Charankumar'

In [8]:
str_1 = '31'.join([s1,s2]) #join is used for multiple strings to join
print(str_1)

Charan31kumar

##LIST

In [6]:
lst =[1,2,3,'a','b','c',[11,22,33]]
type(lst)

list

In [8]:
lst[0],lst[4],lst[-1] ##indexing

(1, 'b', [11, 22, 33])

In [12]:
lst.index('b')  ##index the position

4

In [17]:
lst.index('a')

3

In [9]:
lst.append(2) ## adds one value to the last
print(lst)

[1, 2, 3, 'a', 'b', 'c', [11, 22, 33], 2]

In [10]:
lst.pop(-1) ##nremoves the position
print(lst)

[1, 2, 3, 'a', 'b', 'c', [11, 22, 33]]

In [11]:
lst[4]

'b'

lst.remove() ## removes the given value permenantly

In [33]:
lst

[1, 2, 'a', 'c', [11, 22, 33]]

In [2]:
lst1=[1,4,5,6,77,55]

In [38]:
lst1.sort() ## does not supprt multiple data type

In [39]:
lst1

[1, 4, 5, 6, 55, 77]

In [4]:
lst1.reverse()
print(lst1)

[1, 4, 5, 6, 77, 55]

In [18]:
lst1

[1, 4, 5, 6, 77, 55]

In [7]:
lst

[1, 2, 3, 'a', 'b', 'c', [11, 22, 33]]

In [8]:
lst.insert(3,'b')
print(lst)

[1, 2, 3, 'b', 'a', 'b', 'c', [11, 22, 33]]

In [19]:
lst.extend(lst1)
print(lst)

[1, 2, 3, 'b', 'a', 'b', 'c', [11, 22, 33], 1, 4, 5, 6, 77, 55]

In [48]:
lst_cp=lst.copy()

In [49]:
print(lst_cp)

[1, 2, 'a', 'b', 'c', [11, 22, 33], 77, 55, 6, 5, 4, 1]

In [57]:
lst[1]=20

In [58]:
lst

[1, 20, 'a', 'b', 'c', [11, 22, 33], 77, 55, 6, 5, 4, 1]

In [ ]:
##Tuples Round bracket it is immutable

In [52]:
a=(1,2,4,65)

In [55]:
a[0],a[3]

(1, 65)

In [59]:
a.count(2)

1

In [60]:
a.index(4)

2

In [ ]:
##Sets {brackets are used} it is unordered

In [68]:
a1={1,2,3,4}

In [62]:
type(a1)

set

In [63]:
a1.add(35) ##adds the value at last

In [64]:
print(a1)

{1, 2, 3, 4, 35}

In [65]:
a1.remove(35) ## removes the specified value
print(a1)

{1, 2, 3, 4}

In [71]:
a1.pop() ## pop removes any random element
print(a1)

{3, 4}

In [ ]:
a1.add(1)

In [76]:
a1

{1, 2, 3, 4}

In [77]:
s1={1,3,6,9}
s2={1,3,17,13}

In [78]:
s1.union(s2)

{1, 3, 6, 9, 13, 17}

In [80]:
s1.intersection(s2)

{1, 3}

In [83]:
s1.difference(s2)

{6, 9}

In [84]:
s2.difference(s1)

{13, 17}

In [88]:
s1.symmetric_difference(s2) ## values that are not in common

{6, 9, 13, 17}

In [ ]:
##Merging the sets

In [91]:
s1.update(s2)
print(s1)

{1, 3, 6, 9, 13, 17}

In [9]:
s3={1,2,7,9}
s4={1,2,8,9}

In [93]:
s3|s4 #pipe operator

{1, 2, 7, 8, 9}

In [6]:
from functools import reduce    ##reduce function is used to perform operation on iterables functools is an module
import operator
print(reduce(operator.or_,[s3,s4]))  ##reduce function is that were an reduce(function,list of iterables)

{1, 2, 7, 8, 9}

In [12]:
import itertools ##Ittertools
s_new = set(itertools.chain(s3,s4)) ##Chain is ie.,add to sets ##we can covert the class by typecasting 
print(s_new)

{1, 2, 7, 8, 9}

In [18]:
sn = set((*s3, *s4)) ##unpacking operator
print(sn)

{1, 2, 7, 8, 9}

## Dictionary

In [19]:
d= {'name': 'john','age':30,'hobby':'cricket'}  ## set of keyvalue pair

In [21]:
d['name'] ,d.get('name')

('john', 'john')

In [22]:
d.keys()

dict_keys(['name', 'age', 'hobby'])

In [23]:
d.values()

dict_values(['john', 30, 'cricket'])

In [24]:
d.items()

dict_items([('name', 'john'), ('age', 30), ('hobby', 'cricket')])

In [27]:
d['name']='marry'  ## key cnnot be changed , but we can change the key values

In [28]:
d['name']

'marry'

In [31]:
d.pop('hobby')

'cricket'

In [33]:
d.keys()

dict_keys(['name', 'age'])

# slicing

In [4]:
aa="welcome" ##str=[start:end:step] no need to give step it is considered as 1
type(aa)

str

In [6]:
aa[1:4]

'elc'

In [7]:
aa[::2] ## for alternate charecters

'wloe'

In [9]:
aa[::]

'welcome'

In [13]:
 aa[::-1]

'emoclew'

In [15]:
a_1=[1,22,32,44,53,5,4,76,76,87,432,908]

In [20]:
a_1[::1]

[1, 22, 32, 44, 53, 5, 4, 76, 76, 87, 432, 908]

In [26]:
a_1[::2]

[1, 32, 53, 4, 76, 432]

In [28]:
a_1[2:10]

[32, 44, 53, 5, 4, 76, 76, 87]

In [29]:
a_1[::-1]

[908, 432, 87, 76, 76, 4, 5, 53, 44, 32, 22, 1]

In [31]:
a_1[::-2]

[908, 87, 76, 5, 44, 22]

In [32]:
a_1[-1::]

[908]