In [1]:
"""
Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
            b. 162.89 is the correct answer
c. 189
d. None of the above
"""


n = 10
r = 5
p = 100

A = (p * (1+r/ 100)**n ) 

print("Value is", A)

Value is 162.8894626777442

In [4]:
'''
Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
a. print(string.format(a,b))
b. print(string+a+b)
            c. print(string.format(b,a)) is the Correct answer
d. None of the above

'''

A = 10
B = 20
Str =  "There are {} students in the class, with {} who play at least one sport."
print(Str.format(B,A))

There are 20 students in the class, with 10 who play at least one sport.

In [13]:
'''
Q3. In a given sample string, How do you print a double quoted string in between a
regular
string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
            a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù) is the Correct answer
b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
d. None of the above

'''
a="It goes without saying, \"Time is Money\", and none can deny it."
print(a)

It goes without saying, "Time is Money", and none can deny it.

In [3]:
'''
Q4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
            a. 3.3333333333 is the corect answer
b. 3
c. 30
d. 1000
'''

x = lambda a,b: a/b
x(10,3)

3.3333333333333335

In [24]:
''''
Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
a. True
b. Smaller
            c. Greater is the correct answer
d. None of the above
'''

A = 10
B = 2

print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

In [5]:
#Q6. What will be the output of the following code?

import os
import numpy as np
my_list = [2,7,3,5,4,6]
print(my_list)
arr =  numpy.array(my_list,dtype = int)
print(arr)


#name error: numpy is not defined

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

In [23]:
'''
Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
a. string[slice(13,8,1)]
b. string[slice(1,8,1)]
c. string[8:14]
            d. string[slice(8,13,1)] is the Correct answer
'''
str = "Machine Learning"
print(str[8:13])
print(str[slice(8,13,1)])

Learn
Learn

In [12]:
'''
Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the
value 18?
a. 3
            b. 2 is the correct answer
c. 0
d. 1
'''
a = [10,14,18,22]

In [25]:
'''
Q9. Which of the following is true with respect to the below codes?
a. num1 = num2
b. num1 ‚â† num2
c. num1 < num2
d. num1 > num2
'''

num1 = 5**4
num2 = pow(5,4)

print(num1==num2)

True

Q10.A Python NameError exception is raised when: -
            a. Trying to access a variable which has not been defined is the correct answer
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported

In [26]:
''''
Q11.What type of exception will be raised for the code given below?
a. NameError
b. KeyError
            c. ValueError is the correct answer
d. AttributeError
'''
x = 'String'
int(x)

ValueError: invalid literal for int() with base 10: 'String'


Q12.A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
            b. A file or directory is requested but does not exist in the working directory is the correct answer
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a
directory

In [15]:
'''
Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
a. Complex
        b. Character(String) is the correct answer
c. Integer
d. Boolean
'''

Z = "ID-5632"
print(type(Z))

<class 'str'>


Q14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
            d. All of the above is the correct answer


Q15.Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
        c. {}
        d. # These donot have the ability

In [27]:
'''
Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
respectively:

Country India China Japan Qatar France
State Delhi Beijing Tokyo Doha Marseilles

Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

'''

Country = {
'country1' : {'name':"India",'State':"Delhi"},
'country2' : {'name':"China",'State':"Beijing"},
'country3' : {'name':"Japan",'State':"Tokyo"},  
'country4' : {'name':"Quatar",'State':"Doha"},
'country5' : {'name':"France",'State':"Maseilles"},
}


Country ['country5']['State'] = 'Paris'
print(Country)

{'country1': {'name': 'India', 'State': 'Delhi'}, 'country2': {'name': 'China', 'State': 'Beijing'}, 'country3': {'name': 'Japan', 'State': 'Tokyo'}, 'country4': {'name': 'Quatar', 'State': 'Doha'}, 'country5': {'name': 'France', 'State': 'Paris'}}

In [33]:
'''
Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
            d. tuple_1[3] = 45 item assignment is not supported

'''
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

In [35]:
'''
Q18. How many elements in the following data structure?
# There are 6 elements in the Set
'''
S = {1,2,3,4,4,4,5,6}
print(S)

{1, 2, 3, 4, 5, 6}

In [59]:
'''
Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no
greater than a natural number N
'''
limits = int(input("Enter a value: "))
c = 0
m = 2
while m < limits :
    for n in range (1,m) :
        a = m * m - n * n
        b = 2 * m * n
        c = m * m + n * n
        if c > limits :
            break
        print (a,b,c)
        
    m = m + 1

Enter a value: 100
3 4 5
8 6 10
5 12 13
15 8 17
12 16 20
7 24 25
24 10 26
21 20 29
16 30 34
9 40 41
35 12 37
32 24 40
27 36 45
20 48 52
11 60 61
48 14 50
45 28 53
40 42 58
33 56 65
24 70 74
13 84 85
63 16 65
60 32 68
55 48 73
48 64 80
39 80 89
28 96 100
80 18 82
77 36 85
72 54 90
65 72 97